@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('Media/bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;}

.game {
    float: none;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    justify-content:end;
    gap: 30px;
    margin-bottom: 10px;
    
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.disabled {
    color: #757575;
}

.stats {
    color: black;
    font-size: 14pt;
    background-color: #FDF8E6;
}

.board-container {
    position: absolute;
    

}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(135deg,  rgb(157, 255, 0) 0%,rgb(98, 98, 175) 50%,#fc6500 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.board {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front, .card-back{
display: flex;
align-items: center;
justify-content: center;
}
.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25pt;
    color: #282A3A;
}

.highlight {
    color: green;


}
footer{
    top: 100%;
    position: relative;
    
}
/* NavBar Styling begins */
header{
    color: white;
}

